@charset "UTF-8";
body {
    color: #191919;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
    font-size: 14pt;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-image: url(../images/black%20background.jpg);
}
#container {
    width: 875px;
    height: auto;
    background-color: rgba(127,127,127,1.00);
    margin: auto;
}
/*Float the Aside so it displays next to Main.*/
aside {
    width: 150px;
    height: 1620px;
    float: left;
    background-color: #2B2B2B;
}
header {
    width: 875px;
    height: 250px;
    background-image: url(../images/Screenshot%202025-02-13%20at%2012.39.41%E2%80%AFPM.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/*Float the Main so it shows up next to the Aside. Reduce width by 150px so they both line header.*/
main {
    width: 598px;
    height: 1600px;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.floatLeft {float: left;}

article {
    margin-bottom: 50px;
}
h1{
    color: #000000;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
/*Clear the float so the footer shows up in the right place again.*/
footer {
    width: 875px;
    height: 50px;
    background-color: #646464;
    clear: both;
}
h3 {
    font-size: 12px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #C1C1C1;
}
nav {
    width: 990px;
    height: 50px;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    width: 80px;
    margin: 0px 157px 0px 0px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    font-size: 20pt
}
#container nav li {
    margin: auto;
    width: 237px;
}

nav a:link {
    color: #1D1D1D;
    padding: 10px;
    text-decoration: none;
}
nav a:visited {
    color: #1D1D1D;
    text-decoration: none;
}
nav a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #BDBDBD;
    padding: 10px;
    border-radius: 20px;
}
nav a:active {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}.submit_btn {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: #02EAFF;
    color: #FFFFFF;
    font-size: 16px;
}

.submit_btn:hover {
	    -webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;
}
